# Ignore Hugo build output
/public/
.hugo_build.lock

# OS and IDE cruft
.DS_Store
Thumbs.db

# Node/Hugo tooling (if applicable)
resources/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backup or temp files
*.swp
*.swo
*~

# Add resources/_gen to fix missing cover images on deployed site
!resources/_gen
!resources/_gen/**