:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(0, 43, 54);
    --entry: rgb(7, 54, 66);
    --primary: rgb(253, 246, 227);
    --secondary: rgb(147, 161, 161);
    --tertiary: rgb(131, 148, 150);
    --content: rgb(238, 232, 213);
    --code-block-bg: rgb(7, 54, 66);
    --code-bg: rgb(101, 123, 131);
    --border: rgb(88, 110, 117);
}

.dark {
    --theme: rgb(0, 43, 54);
    --entry: rgb(7, 54, 66);
    --primary: rgb(253, 246, 227);
    --secondary: rgb(147, 161, 161);
    --tertiary: rgb(131, 148, 150);
    --content: rgb(238, 232, 213);
    --code-block-bg: rgb(7, 54, 66);
    --code-bg: rgb(101, 123, 131);
    --border: rgb(88, 110, 117);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}