/* Inspired by Everforest, created by Chat */

:root[data-theme="dark"] {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(36, 40, 44);
    /* Dark background */
    --entry: rgb(49, 53, 57);
    /* Slightly lighter for cards */
    --primary: rgb(223, 218, 195);
    /* Text color */
    --secondary: rgb(145, 152, 144);
    /* Subtext */
    --tertiary: rgb(125, 133, 125);
    /* Muted subtext */
    --content: rgb(230, 224, 201);
    /* Main content background */
    --code-block-bg: rgb(44, 48, 52);
    /* Code block background */
    --code-bg: rgb(95, 101, 94);
    /* Inline code background */
    --border: rgb(82, 89, 83);
    /* Border color */
}

[data-theme="dark"] .list {
    background: var(--theme);
}

.profile img {
    border-radius: 0 !important;
}

/* underline only the inline links in the subtitle block */
.profile .profile_inner>span a {
    text-decoration: underline !important;
    text-underline-offset: 2px;
}

.profile .profile_inner>span a:hover {
    text-decoration-thickness: 2px;
}

/* Make header image caption match body caption color and alignment */

.entry-cover figcaption {
    color: var(--secondary);
    font-size: 14px;
    font-weight: normal;
    text-align: left;
}



figure {
    text-align: center !important;
    width: 100% !important;
    margin: 0 auto !important;
    display: block !important;
}

figure img {
    display: block !important;
    margin: 0 auto !important;
    max-width: 100% !important;
}

figcaption {
    font-size: 0.8em;
    text-align: center !important;
    font-weight: normal !important;
}

figcaption strong {
    font-weight: bold !important;
}